body{
    width: 100%;
}

.filters{
    width: 100%;
}

.filters form select{
    margin: 15px 20px 15px 0;
}

table{
    border:  solid 1px #CDCDCD;
}

thead{
    font-size: 18px;
    font-weight: bold;
    background-color: #EEEEEE;
}

table td {
    border-bottom: solid 1px #CDCDCD;
    padding: 2px 15px;
}